<%- include('partials/header') -%>
<div
  class="h-screen min-w-[500px] mx-6 self-center md:flex md:justify-center md:items-center lg:mx-24 bg-pink-400"
>
  <div class="grid lg:grid-rows-2">
    <div
      class="h-[300px] sm:h-[350px] md:h-[400px] lg:h-[500px] flex justify-center bg-purple-400"
    >
      <img
        class="h-full p-6"
        src="https://cdn2.hubspot.net/hubfs/1973303/team-building-activities-banner.png"
        alt=""
      />
    </div>
    <div class="h-full flex flex-col lg:flex-row">
      <div
        class="flex flex-col bg-green-300 w-full lg:h-full lg:w-1/4 lg:order-last order-first"
      >
        <h1><%= data.title %></h1>
        <ul>
          <li>item</li>
          <li>item</li>
          <li>item</li>
          <li>item</li>
        </ul>
      </div>
      <h1 class="bg-blue-300 flex-1 p-6"><%= data.disc %></h1>
    </div>
  </div>
</div>

<%- include('partials/footer') -%>
