.package-container {
  margin: 0px;
  overflow: hidden;
  padding: 0px;
}

#packages {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
  max-width: 916px;
  width: calc(100% - 20px);
}

.package:hover::before {
  opacity: 1;
}

.package {
  background-color: rgba(255, 248, 240, 0.1);
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  height: 260px;
  flex-direction: column;
  position: relative;
  width: 300px;
}

.package::before,
.package:after {
  border-radius: inherit;
  content: "";
  height: 100%;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  transition: opacity 500ms;
  width: 100%;
}

.package::after {
  background: radial-gradient(600px circle at var(--mouse-x) var(--mouse-y),
      rgba(244, 208, 111, 0.8),
      transparent 40%);
  z-index: 1;
}

.package::before {
  background: radial-gradient(800px circle at var(--mouse-x) var(--mouse-y),
      rgba(244, 208, 111, 0.5),
      transparent 40%);
  z-index: 3;
}

.package>.package-content {
  background-color: rgb(255, 136, 17);
  border-radius: inherit;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  inset: 1px;
  padding: 10px;
  position: absolute;
  z-index: 2;
}

h1,
h2,
h3,
h4,
span,
body {
  /* color: rgb(240, 240, 240); */
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  margin: 0px;
}

i {
  color: rgb(244, 208, 111);
}

.package-image {
  align-items: center;
  display: flex;
  height: 140px;
  justify-content: center;
  overflow: hidden;
}

.package-image>i {
  font-size: 6em;
  opacity: 0.25;
}

.package-info-wrapper {
  align-items: center;
  display: flex;
  flex-grow: 1;
  justify-content: flex-start;
  padding: 0px 20px;
}

.package-info {
  align-items: flex-start;
  display: flex;
  gap: 10px;
}

.package-info>i {
  font-size: 1em;
  height: 20px;
  line-height: 20px;
}

.package-info-title>h3 {
  font-size: 1.1em;
  line-height: 20px;
}

.package-info-title>h4 {
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.85em;
  margin-top: 8px;
}